@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background-color: black;
}

.container-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

button{
    background-color: #79cb15;
    width: 110px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}

button:hover{
    opacity: 0.8;
}

img {
    height: 185px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

ul{
    margin-top: 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 30px;
    justify-content: center;
}

li {
    border: 2px solid #fff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.price {
    color: #79cb15;
}